/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  width: 100%;
}

ul{
  list-style-type: none;
}

a{
  color: inherit;
}
/*-----------------
        GENERAL
 -----------------*/
body{
  font-family: 'PT Sans', sans-serif;
}

.align-items{
  /* align-items: center; */
  text-align: center;
  width: 100%;
}
/* Text */
.font-big{
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

/* Img */
.circle-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.circle-img img{
  height: 100%;
  object-fit: cover;
}

/* Column */
.column-flex{
  display: flex;
  flex-wrap: wrap;
}
.column-app{
  width: 100%;
  margin-bottom: 1.5rem;
}
.col-30{
  width: 100%;
}
.col-70{
  width: 100%;
}
/* Containers */
.container{
  max-width: 1170px;
  margin: 0 auto;
}
.flex-container{
  display: flex;
}
/* Paddings */
.mobile-padding{
  padding-left: 2rem;
  padding-right: 2rem;
}
.card-padding{
  padding: 2rem 2rem;
}

.padding-top{
  padding-top: 4rem;
}

.padding-topandbottom{
  padding: 2rem 0;
}

/* Buttons */
.buttons{
  padding: 0.45rem 0.95rem;
  border-radius: 20px;
  text-decoration: none;
}
.buttons-big{
  padding: 0.65rem 3rem;
  border-radius: 20px;
  text-decoration: none;
}

/*-----------------
      HEADER
-----------------*/
header{
  height: 80px;
  background-color: #0084fd;
  color: white;
}

/* Nav-Menù */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-menu{
  display: none;
}

.nav-menu li{
  font-size: 1.3rem;
  padding: 0 1rem;
}

.nav-menu li a{
  text-decoration: none;
}

/*-----------------
      MAIN
-----------------*/

/* Demo Application */
.demo-app{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* Column content */
.demo-app h3{
  color: #0084fd;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0;
}
#flex-app h3{
  margin-top: 1rem;
}
.demo-app p{
  padding: 1.5rem 0 1.5rem 0;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #5a6e7f; 
  margin-bottom: 0.5rem;
}
.demo-app img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  width: 250px;
}

.demo-app i{
  padding-bottom: 2rem;
  color: #0084fd;
}

/* End Demo Application */

/* Stategic Planning */
.stategic-planning h2{
  font-size: 2.1rem;
  color: white;
  padding-top: 5rem;
}
.stategic-planning p{
  font-size: 1rem;
  color: white;
  padding-top: 2.5rem;
  line-height: 1.8rem;
}

.stategic-planning h3{
  padding-top: 2rem;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.stategic-planning .development-p{
  color: black;
  font-style: italic;
  padding: 0 0.1rem;
}
.stategic-planning .container{
  padding-bottom: 3rem;
}
/* End Stategic Planning */

/* Testimonials Section */
.testimonials-section h3{
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
}

.testimonials-section h2{
  font-size: 35px;
  color: #9792e4;
  padding-bottom: 2rem;
}
.testimonials-section p{
  font-size: 18px;
  line-height: 2rem;
}

.testimonials-section .testimonials-text p{
  color: white;
}

.testimonials-section .align-items{
  padding: 1rem;
}
/*-------------------------------------------------------------------------
                                  MEDIA
--------------------------------------------------------------------------*/
/* TABLET */
@media screen and (min-width: 768px){
  /* Column Calc Application */
  .demo-app .column-app{
    width: calc((100% / 3) - 1rem);   
  }
  .demo-app .column-app:first-child{
    width: calc(((100% / 3) * 2 - 0.5rem)) ;
    margin-right: 1.5rem;
  }
  .demo-app .column-app:nth-child(4){
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  /* Column content */
  .card-padding{
    padding: 2rem 1.5rem 0 1.5rem;
  }
  .demo-app p{
    font-size: 18px;
    font-weight: 900;
  }
  .demo-app img{
    display: block;
    margin-left: 2.5em;
    width: 250px;
  }
  /* End Column Application */

  /* Stategic Planning */
  .stategic-planning h2{
    font-size: 4rem;
  }
  /* End Stategic Planning */

  /* Testimonials Section */
  .testimonials-section .circle-img{
    margin: 0;
  }
  .testimonials-section .column-flex{
    justify-content: flex-start;
  }
  .testimonials-section .col-30{
    width: 30%;
    align-self:baseline;
  }

  .testimonials-section .col-70{
    width: 70%;
    align-self: center;
  }

  .testimonials-section .align-items{
    text-align: left;
    padding: 1rem;
  }
}
/* DESKTOP */
@media screen and (min-width: 992px){

  /* HEADER */
  .nav-menu{
    display: block;
  }
  .burger-menu{
    display: none;
  }
  /* End Header */

  /* Column content */
  .demo-app img{
    align-self: flex-end;
    margin-left: 0;
  }
  #flex-app{
    display: flex;
    justify-content: flex-start;
    height: 100%;
  }
  #flex-app .card-padding{
    width: 50%;
  }
  /* End Column content */

  /* Stategic Planning */
  .stategic-planning .column-flex{
    justify-content: space-around;
    align-items: flex-end;
  }
  .stategic-planning .column-app{
    width: 40%;
  }
  .stategic-planning img{
    width: 100%;
    margin: 0 auto;
  }
  .stategic-planning p{
    padding: 2rem 0;
  }
  .stategic-planning .column-flex{
    padding: 0 5rem;
  }

  .stategic-planning h2{
    font-size: 2rem;
  }

  .img-small{
    width: 200px;
    margin: 0 auto;
  }
}

/*-----------------
      COLORS
-----------------*/
.button-white{
  background-color: white;
  color: black;
}

.btn-arrow{
  background-color: #9792e4;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}
.app-store-btn{
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: white;
  background-color: #0084fd;
  font-weight: 700;
}
.bg-app-development{
  background-color: white;
  border-radius: 60px;
  color: black;
  padding-top: 2rem;
}
.bg-light-blue{
  background-color: #b5ddff; 
  border-radius: 20px;
  
}
.bg-violet{
  background-color: #9792e4;
}

.bg-testimonials{
  background-color: #9792e4;
  border-radius: 60px;
  color: black;
  padding: 2rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}